@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arrière-plan étoilé */
.bg-night-sky {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: transparent;
}

.stars::before,
.stars::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7),
    transparent 60%
  );
  animation: move-stars 50s linear infinite;
  z-index: -1;
}

.stars::before {
  background-size: 1px 1px;
}

.stars::after {
  animation-delay: -25s;
}

@keyframes move-stars {
  from {
    top: 0%;
  }
  to {
    top: -50%;
  }
}


